<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>Kick-off football game</title>
    <style>
        body { margin: 0; overflow: hidden; }
        canvas { width: 100%; height: 100% }
    </style>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Coiny|Shrikhand" rel="stylesheet">

    <!-- jQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Style adding -->
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
</head>

<body>
    <div class="controls">
        <h3>The penalty game</h3>
        <p> Hold the <img src="spacebar.png" class="img"> to choose a strength of the kick. Release when you think that it is your desired strenght.</p>              
        <p> Then, chose the angle of kick by holding <img src="mouseLeftKey.png" class="img3"> and moving to needed direction. </p>
        <p> Press <img src="Wbar.png" class="img2"> to kick the ball.</p> 
        <p><i>The stength of the kick is shown on the right side of the screen.</i></p>        
        <p id="ok"><a>Ok, I got it!</a></p>
    </div>    
    <p id="message"></p>

    <p class="showCntr"><a>Show the controls</a></p>
    <p class="max">MAX</p>
    <p class="min">MIN</p>
    
    <!-- Strength bar -->
    <div class="box3"></div> 
    <div id="scaleAppend"></div>  <!-- <div id="scale" class="box"></div> -->  
    <div id="boxAppend"></div>  <!-- <div class="box2"></div> -->     
    <div class="kickStrangth">         
        <h4>Kick strength: <i id="kickStr"></i></h4> 
    </div>

    <!-- Scripts for three.js scene -->
    <script src="js/three.min.js"></script>
    <script src="js/physi.js"></script>
    <script src="js/controls/OrbitControls.js"></script>
    <script src="js/Stats.js"></script>
    <script src="js/KeyboardState.js"></script>

    <!-- The scene script -->
    <script src="js/scene.js"></script>
</body>

</html>
