<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <title>Kick-off football game</title>
    <style>
        body { margin: 0; overflow: hidden; }
        canvas { width: 100%; height: 100% }
    </style>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Coiny|Shrikhand" rel="stylesheet">

    <!-- jQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Style adding -->
    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
</head>

<body>
    <div class="controlls">
        <h3>The penalty game</h3>
        <p> Press the <img src="spacebar.png" class="img"> to choose a strength of the kick.</p>              
        <p> Use a mouse to chose the angle. </p>
        <p> Press <img src="Wbar.png" class="img2"> to kick the ball.</p> 
        <i>The stength of the kick is shown on the right side of the screen.</i> 
        <p>Kick strength: <i id="kickStr"></i></p> 
        <div class="box3"></div> 
        <div id="scaleAppend"></div>  <!-- <div id="scale" class="box"></div> -->  
        <div id="boxAppend"></div>  <!-- <div class="box2"></div> -->        
        <p id="message"></p>
    </div>

    <!-- Scripts for three.js scene -->
    <script src="js/three.min.js"></script>
    <script src="js/physi.js"></script>
    <script src="js/controls/OrbitControls.js"></script>
    <script src="js/Stats.js"></script>
    <script src="js/KeyboardState.js"></script>

    <!-- The scene script -->
    <script src="js/scene.js"></script>
</body>

</html>
